requests==2.31.0
beautifulsoup4==4.12.3
pdfminer==20191125
docx2txt==0.8
python-pptx==0.6.23
urllib3==2.2.1
lxml==5.2.2
python-magic==0.4.27
fake-useragent==1.5.1
mechanize==0.4.10
dnspython==2.6.1








